<html>
<head>
  <title> {{ config.DROP_NAME }} </title>
  <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body class="body">

  <div id="header" class="header">
    {{ config.DROP_NAME }}
  </div>

  <div id="ctrl" class="ctrl">
    <a href="/" class="ctrl_button"> Home </a>
    <a href="/admin" class="ctrl_button"> Admin </a>
    <a href="/static/impress.html" class="ctrl_button"> Impress </a>
  </div>

  <div id="items" class="items">
    <h1> {{ config.DROP_NAME }} </h1>
    {{ config.DROP_DESCRIPTION|safe }} <br> <br> <br> <br> <br>

    OlelDrop is a simple open source file sharing software built on python and flask.
  </div>

</body>

</html>
