<html>
<head>
  <title> {{ config.DROP_NAME }} - Add item by Upload</title>
  <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body class="body">

  <div id="header" class="header">
    {{ config.DROP_NAME }}
  </div>

  <div id="ctrl" class="ctrl">
    <a href="/" class="ctrl_button"> Home </a>
    <a href="/about" class="ctrl_button"> About </a>
    <a href="/admin" class="ctrl_button"> Admin </a>
    <a href="/static/impress.html" class="ctrl_button"> Impress </a>
  </div>


  <div id="items" class="items">
    <form action="/add_by_upload" method="POST" enctype="multipart/form-data">
      Description:<br>
      <input type="text" name="description" style="width:50%">
      <br>
      File:<br>
      <input type="file" name="file" accept="*">
      <br>
      Encrypt:<br>
      <input type="checkbox" name="encrypt"><br>
      Custom Key:<br>
      <input type="password" name="key"><br>
      <br>
      <input type="submit" value="Submit">
    </form> <br>
  </div>

</body>

</html>
