<html>
<head>
  <title> {{ config.DROP_NAME }} - Admin</title>
  <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body class="body">

  <div id="header" class="header">
    {{ config.DROP_NAME }}
  </div>

  <div id="ctrl" class="ctrl">
    <a href="/" class="ctrl_button"> Home </a>
    <a href="/about" class="ctrl_button"> About </a>
    <a href="/admin" class="ctrl_button"> Admin </a>
    <a href="/static/impress.html" class="ctrl_button"> Impress </a>
  </div>


  <div id="items" class="items">
    <a href="/add_by_upload"> Upload new item </a> <br>
    <a href="/add_by_link"> Add new item by link </a> <br>
  </div>

</body>

</html>
