<html>
<head>
  <title> {{ config.DROP_NAME }} - Edit </title>
  <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body class="body">

  <div id="header" class="header">
    {{ config.DROP_NAME }} - Edit
  </div>

  <div id="ctrl" class="ctrl">
    <a href="/" class="ctrl_button"> Home </a>
    <a href="/about" class="ctrl_button"> About </a>
    <a href="/admin" class="ctrl_button"> Admin </a>
    <a href="/static/impress.html" class="ctrl_button"> Impress </a>
  </div>

  <div class="items" id="items">

    <div class="drop_item_prev">
      <img src="{{ thumb }}" class="item_preview" style="width: 200px; height: 200px">
    </div>
    <div class="drop_item_update_desc">
      {{ description }} <br> <br>
      Mime-Type:   {{ mime_type }} <br>
      Encrypted:  {{ encryption }} <br>

      Download link: <a class="dl" href="http{{ https }}://{{ config.HOST }}/download/{{ share_key }}"> http{{ https }}://{{ config.HOST }}/download/{{ share_key }} </a> <br>
    Share link: <a class="dl" href="http{{ https }}://{{ config.HOST }}/share/{{ share_key }}"> http{{ https }}://{{ config.HOST }}/share/{{ share_key }} </a> <br>

      <h2> Edit Item </h2>
      <form action="/update" method="POST">
        <input type="hidden" value="{{ share_key }}" name="share_key">
        New share_key: <input type="text" value="{{ share_key }}" name="new_share_key"><br>
        New description: <input type="text" value="{{ description }}" name="new_description"><br>
        <input type="submit" value="Submit">
      </form>

      <h2 style="color: #ff2200"> Delete Item: </h2>
      <form action="/delete" method="POST">
        <input type="hidden" value="{{ share_key }}" name="share_key">
        Delete from disk: <input type="checkbox" name="delete" checked> <br>
        <input type="submit" value="DELETE THIS ITEM"><br>
      </form>

    </div>

  </div>


</body>

</html>
