<html>
<head>
  <title> {{ config.DROP_NAME }} </title>
  <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body class="body">

  <div id="header" class="header">
    {{ config.DROP_NAME }}
  </div>

  <div id="ctrl" class="ctrl">
    <a href="{{ login_ref }}" class="ctrl_button"> {{ login_str }} </a>
    <a href="/about" class="ctrl_button"> About </a>
    <a href="/admin" class="ctrl_button"> Admin </a>
    <a href="/static/impress.html" class="ctrl_button"> Impress </a>
  </div>

<!--
  <div id="desc" class="desc">
    {drop_description}
  </div>
-->

  <div id="items" class="items">
    {{ item_html|safe }}
  </div>

</body>

</html>
