.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 10%;
  width: 80%;
  height: 20%;
  line-height: 220%;
  font-size: 300%;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
  background-color: ^header^;
}

.body {
  background-color: ^background^;
}

.items {
  position: absolute;
  top: 30%;
  width: 100%;
  left: 0%;
}

.ctrl {
  position:fixed;
  top:25%;
  left:0%;
  width:60%;
}

.ctrl_button {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: ^darker^;
  border: 2px solid ^background^;
  color: #ffffff;
  width:20%;
  height:2rem;
  line-height: 2rem;
}

.ctrl_button:hover{
  background-color: ^foreground^;
}

.items{
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  left: 15%;
  width: 70%;
  top: 27%;
  background-color: ^foreground^;
  color: #ffffff;
}

.drop_item{
  position: relative;
  height: 240px;
  left: 20px;
  top: 20px;
}

.drop_item_desc{
  position: absolute;
  top:  10px;
  left: 210px;
}

.login{
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  left: 15%;
  width: 70%;
  top: 27%;
  background-color: ^foreground^;
  color: #ffffff;
}

.login_field{
  position: relative;
  height:2rem;
  font-family: "Courier New", Courier, monospace;
}

.login_input{
  position: absolute;
  left: 6rem;
  width: 50%;
}

.drop_item_a{
  text-decoration: none;
  color: #ffffff;
}

.dl{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
