<html>

<head>
	<title> {{ config.DROP_NAME }} - Key Input Required </title>
</head>

<body>
	<h2> Key Input Required </h2>
	Your requested file is encrypted, to decrypt it you need to enter the key in this form, or submit it as HTTP/GET parameter: <br>
	e.g. http{{ https }}://{{ config.HOST }}/share/{{ share_key }}?key=KEY where KEY is your decryption key.

	<form action="{{ backref }}" method="POST">
		Key: <input type="password" name="key"> <br>
		<input type="submit" value="Decrypt!"> <br>
	</form>

</body>

</html>