<html>
<head>
  <title> {{ config.DROP_NAME }} - Login </title>
  <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body class="body">

  <div id="header" class="header">
    {{ config.DROP_NAME }} - Login
  </div>

  <div id="ctrl" class="ctrl">
    <a href="/" class="ctrl_button"> Home </a>
    <a href="/about" class="ctrl_button"> About </a>
    <a href="/admin" class="ctrl_button"> Admin </a>
    <a href="/static/impress.html" class="ctrl_button"> Impress </a>
  </div>

  <div id="login" class="login">
    <h3> {{ message }} </h3> <br>

    <form method="post" action="/login">

      <div class="login_field">
        Username: <input type="text" name="username" value="" class="login_input"> <br>
      </div>
      <div class="login_field">
        Password: <input type="password" name="password" value="" class="login_input"> <br>
      </div>
      <input type="submit" value="Submit" class="login_button">

    </form>
  </div>

</body>

</html>
