
<div class="drop_item" id="drop_item">
	<a href="/share/{{ share_key }}">
	<div class="drop_item_prev">
		<img href="/item?id={{ iid }}" src="{{ thumb_ref }}" class="item_preview" style="width: 200px; height: 200px">
	</div>
	</a>

	<div class="drop_item_desc">
		<a href="{{ href }}" class="drop_item_a">
			{{ description }} 
		</a><br> <br>
		Mime-Type:   {{ mime_type }} <br>
		Encrypted:  {{ encryption }} <br><br>
		Download link: <a class="dl" href="http{{ https }}://{{ host }}/download/{{ share_key }}"> http://{{ host }}/download/{{ share_key }} </a> <br>
		Share link: <a class="dl" href="http{{ https }}://{{ host }}/share/{{ share_key }}"> http://{{ host }}/share/{{ share_key }} </a> <br>
	</div>

</div>